*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    display: none;
}

.content.active{
    display: block;
}

video{
    position: absolute;
    width: 100%;
    z-index: -111;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

body::before{
    content: "";
    background-color: rgba(3, 94, 251, 0.167);
    width: 100%;
    height: 100%;
    z-index: -12;
    position: absolute;
    top:0;
    left:0;
}

#social-media a{
    transition: transform 0.2s ease;
    transition-delay: 0ms;
}

#social-media a:hover{
    transform: scale(1.3);
}

.slider-navigation{
    z-index: 8888;
    position: relative;
    margin-top: 100px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: 0.2s ease;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.3);
}

.slider-navigation .nav-btn.active{
    background: #2696E9;
}

.video-slide{
    position:absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 1.5s ease;
    transition-property: clip-path;
}

#translate-chevron{
    margin-right: 3px;
    transition: transform 0.2s ease;
}

#button-of-chevron:hover #translate-chevron{
    transform: translateX(20px);
}


